<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="EmployeeInMemory" value="EmpManage.InMemoryDAL.EmployeeDA, EmpManage.InMemoryDAL"/>
    <add key="DepartmentInMemory" value="EmpManage.InMemoryDAL.DepartmentDA, EmpManage.InMemoryDAL"/>
    <add key="EmployeeSQLServer" value="EmpManage.SQLServerDAL.EmployeeDA, EmpManage.SQLServerDAL"/>
    <add key="DepartmentSQLServer" value="EmpManage.SQLServerDAL.DepartmentDA, EmpManage.SQLServerDAL"/>
  </appSettings>

  <connectionStrings>
    <add name="EmployeeDB"  providerName="System.Data.SqlClient" connectionString="Data Source=SOL-PC;Initial Catalog=EmployeeDB;Integrated Security=True"/>
  </connectionStrings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>