<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="EmployeeDAProvider" value="EMS.InMemoryDAL.EmployeeDA, EMS.InMemoryDAL"/>
    <add key="DepartmentDAProvider" value="EMS.InMemoryDAL.DepartmentDA, EMS.InMemoryDAL"/>
  </appSettings>

  <connectionStrings>
    <add name="EmployeeDB"  providerName="System.Data.SqlClient" connectionString="Data Source=SOL-PC;Initial Catalog=EmployeeDB;Integrated Security=True"/>
  </connectionStrings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>