<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="EmployeeMemory" value="EmMana.EmployeeMemoryProvider.EmployeeInMemory, EmMana.EmployeeMemoryProvider"/>
    <add key="EmployeeSQLServer" value="EmMana.EmployeeSQLServer.EmployeeSQLServer, EmMana.EmployeeSQLServer"/>
  </appSettings>
  
  <connectionStrings>
    <add name="LaptopDBCS"  providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-177GGE7;Initial Catalog=EmployeeDB;Integrated Security=True"/> 
  </connectionStrings>
  
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>